asgiref==3.8.1
Django==5.0.4
pillow==10.3.0
python-dotenv==1.0.1
sqlparse==0.4.4
tzdata==2024.1
flake8==7.0.0
gunicorn==21.2.0
whitenoise==6.6.0
dj_database_url==2.1.0
psycopg2==2.9.9
django_heroku==0.3.1
