<!-- {% load static %} -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Main page</title>

    <link href="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/css/base.css" rel="stylesheet">
    <link href="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/css/main-page.css" rel="stylesheet">
</head>


<body>

    <div class="container-center-horizontal">

        <!-- {#        --------------Navbar flare--------------------------#} -->
        <div class="navbar">
            <div class="text-navbar">
                <div class="navbar-element" id="g-logo">
                    [g]
                </div>
                <div class="navbar-element" id="main-page">
                    Main page
                </div>
                <div class="navbar-element" id="projects">
                    Projects
                </div>
                <div class="navbar-element" id="contacts">
                    Contacts
                </div>
            </div>
            <div class="sidebar">
                <img id="github" class="sidebar-element"
                    src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/github.svg"
                    alt="github">
                <img id="separator" class="separator"
                    src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/séparateur.png"
                    alt="separator">
                <img id="light-switch" class="sidebar-element"
                    src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/light_switch_dark.svg"
                    alt="Light switch">
            </div>
        </div>

        <!-- {#        --------------Main section--------------------------#} -->
        <div class="main-content">
            <div class="main-text">
                <h1 class="title">Zakhar Kravchenko</h1>
                <div class="position">Python Backend Developer</div>
                <p class="description">
                    A junior Backend developer who wants to bring ideas to life through code, ensuring they seamlessly
                    integrate
                    into the digital landscape.
                    I specialize in web application development with Python and its frameworks.
                </p>
                <div class="button-container">
                    <div class="cv-button button">
                        <div class="cv-link">Download my CV</div>
                    </div>
                    <div class=" contact-me-button button">
                        <div class="contact-me-text">Contact me</div>
                        <img class="telegram-icon-contact"
                            src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/telegram.svg"
                            alt="telegram">
                    </div>
                </div>
            </div>
            <img class="photo-profile"
                src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/coder.png"
                alt="photo">
        </div>

        <!-- {#        --------------Footer section--------------------------#} -->
        <div class="footer-light">
            <div class="footer-box">
                <div class="footer-logo-box">
                    <div class="grist-logo">[g]rist</div>

                    <div class="copyright">
                        <p class="p-copyright">
                            © 2024 All Rights Reserved
                        </p>
                    </div>
                </div>
                <p class="footer-text">
                    Lorem ipsum dolor sit amet consectetur. Mauris
                    scelerisque magna lorem dictumst. Eget pulvinar laoreet in quis bibendum.
                    Sodales sem praesent diam rutrum id. Consequat laoreet ultrices sit enim ultrices nunc.
                </p>

                <div class="footer-links">
                    <img class="github footer-link"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/github.svg"
                        alt="Github">
                    <img class="telegram footer-link"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/telegram.svg"
                        alt="telegram">
                    <img class="mail footer-link"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/mail_dark.svg"
                        alt="mail">
                    <img class="linkedin footer-link"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/linkedin_dark.svg"
                        alt="linkedin">
                </div>
            </div>
        </div>
    </div>

</body>

</html>