{% extends 'main/base.html' %}

{% load static %}

{% block css %}
    <link href="{% static '/css/main-page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="main-text">
        <h1 class="title">Zakhar Kravchenko</h1>
        <div class="position">Python Backend Developer</div>
        <p class="description">
            A junior Backend developer who wants to bring ideas to life through code, ensuring they seamlessly
            integrate into the digital landscape.
            I specialize in web application development with Python and its frameworks.
        </p>
        <div class="button-container">
            <a href="/media/cv/CV_Zakhar_Kravchenko_Junior_Backend_Developer.pdf" class="cv-button button" target="_blank">
                <div class="cv-link">Download my CV</div>
            </a>
            <a href="{% url 'contacts:contacts' %}" class=" contact-me-button button">
                <div class="contact-me-text">Contact me</div>
                <img class="telegram-icon-contact"
                     src="{% static '/icons/telegram-footer_dark.svg' %}"
                     alt="telegram">
            </a>
        </div>
    </div>
    <img class="photo-profile"
         src="{% static '/icons/coder.png' %}"
         alt="photo">

{% endblock %}