{% extends 'main/base.html' %}

{% load static %} -->


{% block css %}
    <link href="{% static '/css/projects.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
            <h1 class="title">My Projects</h1>

            <div class="main-block">
                {% for card in projects %}
                <div class="card">
                    <div class="card-body">
                        <div class="card-top-side">
                            <a href="{{ card.link }}" class="card-title" target="_blank">
                                <p>{{ card.title }}</p>
                            </a>
                            <ul class="side-skills">
                                {% for skill in card.skills.all %}
                                <li class="skill-item">
                                    <a class="skill-link" href="#">
                                        <img class="skill-img"
                                            src="{{ skill.image.url }}"
                                            alt="{{ skill.name }}">
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <p class="card-description">
                            {{ card.description }}
                        </p>
                    </div>
                    <img class="card-image"
                        src="{{ card.image.url }}"
                        alt="card-image">
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <nav class="pagination">
                <div class="pagination-content">
                    <a href="{% if page_obj.has_previous %} {% url 'projects:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}">&laquo;</a>
                    {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                            <a href="{% url 'projects:paginator' page %}" class="active">{{ page }}</a>
                        {% else %}
                            <a href="{% url 'projects:paginator' page %}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    <a href="{% if page_obj.has_next %} {% url 'projects:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">&raquo;</a>
                </div>
            </nav>
            {% endif %}

  {% endblock %}