<!-- {% load static %} -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Main page</title>

    <link href="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/css/base.css"
        rel="stylesheet">
    <link href="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/css/contacts.css"
        rel="stylesheet">
</head>


<body>

    <div class="container-center-horizontal">

        <!-- {#        --------------Navbar flare--------------------------#} -->
        <div class="navbar">
            <div class="text-navbar">
                <a href="#" class="navbar-element" id="g-logo">
                    [g]
                </a>
                <a href="#" class="active navbar-element" id="main-page">
                    Main page
                </a>
                <a href="#" class="navbar-element" id="projects">
                    Projects
                </a>
                <a href="#" class="navbar-element" id="contacts">
                    Contacts
                </a>
            </div>
            <div class="sidebar">
                <a href="#" class="sidebar-element">
                    <img id="github"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/github.svg"
                        alt="github">
                </a>
                <img id="separator" class="separator"
                    src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/séparateur.png"
                    alt="separator">
                <label id="theme-switch" class="switch sidebar-element">
                    <input type="checkbox" onchange="toggleTheme()" id="slider">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <!-- {#        --------------Main section--------------------------#} -->
        <div class="main-content">
            <h1 class="title">Contact me</h1>
            <div class="main-block">

                <a href="#" class="card">
                    <div class="card-text">
                        Telegram: @lewiscarroll
                    </div>
                    <img class="card-image"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/telegram.svg"
                        alt="card-image">
                </a>
                <a href="#"  class="card">
                    <div class="card-text">
                        LinkedIn: @grister
                    </div>
                    <img class="card-image"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/linkedin_dark.svg"
                        alt="card-image">
                </a>
                <a href="#" class="card">
                    <div class="card-text">
                        GitHub: @grister
                    </div>
                    <img class="card-image"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/github.svg"
                        alt="card-image">
                </a>
                <a href="#" class="card">
                    <div class="card-text">
                        Email: carroll.lewi@gmail.com
                    </div>
                    <img class="card-image"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/mail_dark.svg"
                        alt="card-image">
                </a>
            </div>

        </div>

        <!-- {#        --------------Footer section--------------------------#} -->
        <div class="footer-light">
            <div class="footer-box">
                <div class="footer-logo-box">
                    <div class="grist-logo">[g]rist</div>

                    <div class="copyright">
                        <p class="p-copyright">
                            © 2024 All Rights Reserved
                        </p>
                    </div>
                </div>
                <p class="footer-text">
                    Lorem ipsum dolor sit amet consectetur. Mauris
                    scelerisque magna lorem dictumst. Eget pulvinar laoreet in quis bibendum.
                    Sodales sem praesent diam rutrum id. Consequat laoreet ultrices sit enim ultrices nunc.
                </p>

                <div class="footer-links">
                    <a href="#" class="footer-link">
                        <img class="mail footer-icon"
                            src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/mail_dark.svg"
                            alt="mail"></a>
                    <a href="#" class="footer-link">
                        <img class="telegram footer-icon"
                            src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/telegram.svg"
                            alt="telegram"></a>
                    <a href="#" class="footer-link">
                        <img class="github footer-icon"
                            src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/github.svg"
                            alt="Github"></a>
                    <a href="#" class="footer-link">
                        <img class="linkedin footer-icon"
                            src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/static/icons/linkedin_dark.svg"
                            alt="linkedin">
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>