{% extends 'main/base.html' %}

{% load static %} -->


{% block css %}
    <link href="{% static '/css/projects.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
            <h1 class="title">My Projects</h1>

            <div class="main-block">

                <div class="card">
                    <div class="card-body">
                        <div class="card-top-side">
                            <a href="#" class="card-title">
                                <p>project-name</p>
                            </a>
                            <ul class="side-skills">
                                <li class="skill-item">
                                    <a class="skill-link" href="#">
                                        <img class="skill-img"
                                            src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/media/side_skills/python.png"
                                            alt="Light switch">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur. Eget leo rutrum urna placerat.
                            Amet facilisi varius sit viverra sit. Risus vulputate posuere ac urna
                            cursus adipiscing. Elit nulla nulla ultrices ullamcorper ornare.
                        </p>
                    </div>
                    <img class="card-image"
                        src="D:/dev%20staff/python/P-ject%20python/Django-projects/web-cv/web_portfolio/media/project_images/default.png"
                        alt="card-image">
                </div>

            </div>
            <nav class="pagination">
                <div class="pagination-content">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </nav>

  {% endblock %}